/*
    Revamped Style CSS
    Created by: @byronbytes
    Version: v1.0
    Made for: https://byron.lol
*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html {
	height: 100%;
	font-family: 'Anonymous Pro', monospace;
	background-color: #1e1e1e;
	scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #111111;
  }

  h1,
  h2,
  h3
  h4 {
	font-size: 25px;
}
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

/*--------------------------------------------------------------
# Hyperlinks
--------------------------------------------------------------*/

a:link {
	color: rgb(52, 163, 253);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(182, 92, 235);
	background-color: transparent;
	text-decoration: none;
}

a:active {
	color: rgb(24, 44, 155);
	background-color: transparent;
}

a:hover {
	color: #5d26db;
	text-decoration: none;
  }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


	.footer {
		position: relative;
		left: 5px;
		bottom: 10px;
		right: 5px;
		width: 100%;
		background-color: rgb(35, 35, 35);
		color: white;
		text-align: center;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}



	.header {
		padding: 30px;
		text-align: center;
		background: #282828;
		color: white;
	}

	.header h1 {
		font-size: 28px;
	}

	h4 {
		font-size: 25px;
	}

	li {
		font-size: 16px;
		text-align: center;
		color: rgb(200, 200, 200)
	}



	details {
		width: 50%;
		margin: 0 auto;
		background: #282828;
		margin-bottom: .5rem;
		box-shadow: 0 .1rem 1rem -.5rem rgba(0, 0, 0, .4);
		border-radius: 5px;
		overflow: hidden;
		padding-top: 2.5px;
		padding-right: 2.5px;
		padding-bottom: 2.5px;
	}

	summary {
		padding: 1rem;
		display: block;
		background: #333;
		padding-left: 2.2rem;
		position: relative;
		cursor: pointer;

	}

	summary:before {
		content: '';
		border-width: .4rem;
		border-style: solid;
		border-color: transparent transparent transparent #fff;
		position: absolute;
		top: 1.3rem;
		left: 1rem;
		transform: rotate(0);
		transform-origin: .2rem 50%;
		transition: .25s transform ease;
	}

	details[open]>summary:before {
		transform: rotate(90deg);
	}

	details summary::-webkit-details-marker {
		display: none;
	}

	details>ul {
		padding-bottom: 2rem;
		margin-bottom: 0;
	}

section {
  float: left;
  width: 10%;
}
	/* Custom elements (boxes, typewriter effect, etc) */

	.container {
  display: flex;
  justify-content: space-around
}

	* {
		box-sizing: border-box;
	}

	/* Support for adding background images */
	.bg-image {
		background-image: url("/img/background2.png");
		filter: blur(10px);
		-webkit-filter: blur(10px);
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.bg-text {
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 20, 0.4);
		color: white;
		font-weight: bold;
		border: 3px solid #00469b;
		/* help i cant make it a god damn gradient */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 80%;
		padding: 20px;
		text-align: center;
	}

	@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
	.line-1 {
		position: relative;
		top: 50%;
		width: 24em;
		margin: 0 auto;
		border-right: 2px solid rgba(255, 255, 255, .75);
		font-size: 180%;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		transform: translateY(-50%);
	}

	.anim-typewriter {
		animation: typewriter 3s steps(45) 1s 1 normal both,
			blinkTextCursor 500ms steps(45) infinite normal;
	}

	@keyframes typewriter {
		from {
			width: 0;
		}

		to {
			width: 12em;
		}
	}
	@keyframes blinkTextCursor {
		from {
			border-right-color: rgba(255, 255, 255, .75);
		}

		to {
			border-right-color: transparent;
		}
	}

	
	.module-border-wrap {
		max-width: 250px;
		font-family: 'Helvetica', sans-serif;
		padding: 1rem;
		position: relative;
		background: linear-gradient(to right, rgb(245, 202, 212, 0.4), rgb(129, 111, 126, 0.4));
		padding: 3px;
		border: 2px solid #00469b;
		filter: drop-shadow(0 0 0.70rem rgb(0, 0, 30, 0.8));
	}

	.module {
		background: #222;
		color: white;
		padding: 2rem;
	}

	/* Stuff for Playvault: */

	@import url('https://fonts.googleapis.com/css?family=Raleway:200');


	#box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 100px;
		color: white;
		font-family: 'Raleway';
		font-size: 2.5rem;
	}

	.gradient-border {
		--borderWidth: 3px;
		background: #1D1F20;
		position: relative;
		border-radius: var(--borderWidth);
	}

	.gradient-border:after {
		content: '';
		position: absolute;
		top: calc(-1 * var(--borderWidth));
		left: calc(-1 * var(--borderWidth));
		height: calc(100% + var(--borderWidth) * 2);
		width: calc(100% + var(--borderWidth) * 2);
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
		border-radius: calc(2 * var(--borderWidth));
		z-index: -1;
		animation: animatedgradient 3s ease alternate infinite;
		background-size: 300% 300%;
	}

	@import url("https://fonts.googleapis.com/css?family=Raleway:400");

	* {
		box-sizing: border-box;
	}

	@property --angle {
		syntax: '<angle>';
		initial-value: 90deg;
		inherits: true;
	}

	@property --gradX {
		syntax: '<percentage>';
		initial-value: 50%;
		inherits: true;
	}

	@property --gradY {
		syntax: '<percentage>';
		initial-value: 0%;
		inherits: true;
	}



	:root {
		--d: 2500ms;
		--angle: 90deg;
		--gradX: 100%;
		--gradY: 50%;
		--c1: rgba(168, 239, 255, 1);
		--c2: rgba(168, 239, 255, 0.1);
	}

	.wrapper {
		min-width: min(40rem, 100%);
	}

	.box {
		font-size: 3vw;
		margin: max(1rem, 3vw);
		border: 0.35rem solid;
		padding: 3vw;
		border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
		animation: borderRotate var(--d) linear infinite forwards;
		filter: drop-shadow(0 0 0.75rem rgb(59, 68, 95));
	}

	.box:nth-child(2) {
		border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
		animation: borderRadial var(--d) linear infinite forwards;
	}

	@keyframes borderRotate {
		100% {
			--angle: 420deg;
		}
	}

	@keyframes borderRadial {
		20% {
			--gradX: 100%;
			--gradY: 50%;
		}

		40% {
			--gradX: 100%;
			--gradY: 100%;
		}

		60% {
			--gradX: 50%;
			--gradY: 100%;
		}

		80% {
			--gradX: 0%;
			--gradY: 50%;
		}

		100% {
			--gradX: 50%;
			--gradY: 0%;
		}
	}


	@keyframes animatedgradient {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}

	@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
